asgiref
certifi
cffi
charset-normalizer
cloudinary
cryptography
dj-database-url
Django
djangorestframework
environs
gunicorn
idna
marshmallow
packaging
Pillow
psycopg2-binary
pyaes
pycparser
PyJWT
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
urllib3